// This file is empty within the template
// You can use it to override CSS from within your project

.banner {
    padding: 20px 0 50px;
}

a {
    color:$primary-color;
}

.content {

    figure {
        text-align: center
    }

    a {
        color:$primary-color;
        &:hover {
            color:darken($color: $primary-color, $amount: 10);
        }
    }
    
    ul {
        li::before {
            position: absolute;
            content: '';
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: $primary-color;
            vertical-align: text-bottom;
            top: 8px;
        }
    }
    .toc {
        ul {
            margin-bottom: 0px;
        }
        li::before {
            position: absolute;
            content: '';
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background: $primary-color;
            vertical-align: text-bottom;
            top: 11px;
        }
        li {
            padding-left: 13px;
            margin-bottom: 0px;
        }
    }
    p {
        margin-bottom: 20px;

        strong {
            color: $primary-color;
        }
    }
}

a:hover {
    color:darken($color: $primary-color, $amount: 10);
}

ul {
    line-height: 1.7;

}

