// This file is empty within the template
// You can use it to override CSS from within your project

.banner {
    padding: 20px 0 50px;
}



.content {

    figure {
        text-align: center
    }

    a {
        color:$primary-color;
        &:hover {
            color:darken($color: $primary-color, $amount: 10);
        }

        &.btn {
            color: $white;
            border-bottom: inherit
        }
    }
    
    ol {
        li::marker {
            font-weight: bold;
        }
    }

    ul {
        li::before {
            position: absolute;
            content: '';
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: $primary-color;
            vertical-align: text-bottom;
            top: 8px;
        }
    }
    .toc {
        ul {
            margin-bottom: 0px;
        }
        li::before {
            position: absolute;
            content: '';
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background: $primary-color;
            vertical-align: text-bottom;
            top: 11px;
        }
        li {
            padding-left: 13px;
            margin-bottom: 0px;
        }
    }
    p {
        margin-bottom: 20px;

        strong {
            color: $primary-color;
        }
    }
}

a:hover {
    color:darken($color: $primary-color, $amount: 10);
}

ul {
    line-height: 1.7;

}

details {
    padding: 20px 20px 0px 20px;
    border: solid darken($color:$text-color, $amount: 0);
    border-radius: 10px;
}

summary {
    color: darken($color:$text-color, $amount: 0);

}


span.biological_resource {
    color: #357EDD;
    font-weight: bold;
    border: solid;
    border-width: 2px;
    border-color: #357EDD;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}


span.abstract_entity {
    color: white;
    font-weight: bold;
    border: solid;
    border-width: 2px;
    border-color: #314354ff;
    background-color: #647687ff;
    border-radius: 0.4em;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

span.bioinformatic_resource {
    color: white;
    border: solid;
    border-width: 2px;
    border-color:black;
    background-color: #357EDD;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}