<nav class="pa3 pa4-ns" role="navigation">
  <a href="{{ .Site.Home.RelPermalink }}" class="f2 b fw2 hover-white no-underline white-90 dib pr4">
    {{ with .Site.Params.site_logo }}
    <img src="{{ . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
    {{ else }}
    {{ .Site.Title }}
    {{ end }}
  </a>
    {{ partial "i18nlist.html" . }}
    {{ if .Site.Menus.main }}
      {{ range .Site.Menus.main }}
        <a class="f3 fw1 hover-white no-underline white-90 dib" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      {{ end }}
    {{ end }}
    {{ partialCached "social-follow.html" . }}
</nav>